*{
    margin: 0;
    padding: 0;
}

:root{
    --color0: #8B47B9;
    --color1: #6F3894; 
    --color2: #3D1F52;
    --color3: #251231;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #251231;
    font-family: poppins;
}

div.user{
    
}

form{
    position: absolute;
    background-color: var(--color1);
    border-radius: 30px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border: none;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#remember{
    position: absolute;
    right: 60%;
    color: white;
    
}

#check-box{
    width: 20px;
    background-color: var(--color2);
    color: #3D1F52;
}

p{
    color: white;
}

.btn{
    width: 100%;
    height: 40px;
}